@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    
}

p strong {
	font-weight: 500;
}

.page {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
	text-align: center;
}

.description {
	width: 680px;
	margin: auto;
}

#dspt-1 {
	text-align: justify;
}

#dspt-2 {
	display: none;
}

#tt-button {
	display: none;
}

#rt1-button {
	display: none;
}

#rt2-button {
	display: none;
}

#rt3-button {
	display: none;
}

#rt4-button {
	display: none;
}

.exp {
	display: none;
	margin-top: 5%;
}

.testing {
	margin-top: 20%;
}

#dspt-1 {
	position: absolute;
	width: 600px;
	height: 200px;
	top: calc(50% - 100px);
	left: calc(50% - 300px);
	padding: 20px;
	border: solid black 1px;
	background-color:rgba(255,255,255,0.4);
}

#end {
	display: none;
	position: absolute;
	width: 600px;
	height: 200px;
	top: calc(50% - 100px);
	left: calc(50% - 300px);
	padding: 20px;
	border: solid black 1px;
	background-color:rgba(255,255,255,0.4);
}

#continue {
	margin-left: calc(50% - 20px);
}

