.page {
	text-align: center;
}

#dspt-2 {
	display: none;
}

#tt-button {
	display: none;
}

#rt1-button {
	display: none;
}

#rt2-button {
	display: none;
}

#rt3-button {
	display: none;
}

#rt4-button {
	display: none;
}

.exp {
	display: none;
}

#end {
	display: none;
}

