@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    
}

p strong {
	font-weight: 500;
}

.page {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
	text-align: center;
}

.description {
	width: 680px;
	margin: auto;
}

#dspt-1 {
	text-align: justify;
}

#dspt-2 {
	display: none;
}

#tt-button {
	display: none;
}

#rt1-button {
	display: none;
}

#rt2-button {
	display: none;
}

#rt3-button {
	display: none;
}

#rt4-button {
	display: none;
}

.exp {
	display: none;
	margin-top: 10%;
}

.testing {
	margin-top: 10%;
}

#end {
	display: none;
}

