@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

p strong {
	font-weight: 500;
}

form {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
	position: absolute;
	height: 350px;
	width: 358px;
	top: calc(50% - 175px);
	left: calc(50% - 179px);
	padding: 20px;
	border: solid black 1px;
	background-color:rgba(255,255,255,0.4);
}

#submitButton {
	position: absolute;
	right: calc(50% - 26.25px);
}
