* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

form {
	position: absolute;
	height: 400px;
	width: 300px;
	top: calc(50% - 200px);
	left: calc(50% - 150px);
}
