@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: url('../img/wallpaper2.png') center center fixed no-repeat;
	background-size: cover;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
}  

.page {
	text-align: justify;
}

h2 {
	font-weight: 400;
}

.description {
	width: 600px;
	height: 340px;
	position: absolute;
	left: calc(50% - 300px);
	top: calc(50% - 170px);
	padding: 20px;
	border: solid black 1px;
	background-color:rgba(255,255,255,0.85);
}

#dsp2 {
	width: 600px;
	height: 230px;
	position: absolute;
	left: calc(50% - 300px);
	top: calc(50% - 115px);
	display: none;
}

#auth {
	font-weight: 100;
	text-align: right;
}
